:root {
  --main-color: #006ffd;
  --sub-color: #b4dbff;
  --black-color: #181818;
  --ligth-color: #f8f9fe;
  --white-color: #ffffff;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white-color);
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TodoInput */
form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 500px;
  padding: 1rem;
}

input[type='text'] {
  width: 100%;
  height: 40px;
  border: 2px solid var(--sub-color);
  background-color: var(--ligth-color);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
}

input[type='text']:focus {
  outline: none;
  border: 2px solid var(--main-color);
}

.add-button {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 1rem;
}

/* TodoSummary */
.summary {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 0 1rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color);
}

/* TodoManage */
.manage-btns {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.manage-btns button {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 0.8rem;
  cursor: pointer;
}

/* TodoList */
ul {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  border-top: 1px solid var(--sub-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--ligth-color);
  margin-top: 1rem;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--black-color);
  gap: 10px;
}

li .icons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

li span {
  flex: 1;
  cursor: pointer;
}
